### Network configuration

d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_domain string unassigned-domain

d-i netcfg/hostname string sidx

d-i netcfg/wireless_wep string
### Firmware
d-i hw-detect/load_firmware boolean true

### Packages

d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

d-i mirror/suite string testing

d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

tasksel tasksel/first multiselect minimal

d-i apt-setup/multiarch string i386

d-i pkgsel/include string gnome-core gnome-tweaks file-roller timeshift htop gnome-boxes dconf-cli dirmngr jq libglib2.0-dev software-properties-gtk flatpak network-manager gnome-software-plugin-flatpak chrome-gnome-shell intel-microcode amd64-microcode git nala qgnomeplatform-qt5 adwaita-qt adwaita-qt6 firmware-linux-nonfree rar unrar libavcodec-extra gstreamer1.0-libav gstreamer1.0-plugins-ugly ffmpeg gstreamer1.0-vaapi curl wget gnupg gpg gnupg2 apt-transport-https ca-certificates nano network-manager-gnome gnome-initial-setup dbus-x11 gimp brasero apt-utils dialog vim cups libreoffice-gnome libreoffice libreoffice-gtk3 wine wine32 wine64-preloader wine32-preloader wine-binfmt wine64 libwine libwine:i386 fonts-wine

### Account setup

d-i passwd/root-login boolean false

### Postinstall


d-i preseed/late_command string \
in-target chsh -s /bin/bash; \
in-target wget https://raw.githubusercontent.com/aattilam/sidx/master/postinstall/install_1.sh; \
in-target wget https://raw.githubusercontent.com/aattilam/sidx/master/postinstall/install_2.sh; \
in-target sh install_1.sh; \
in-target sh install_2.sh; \
in-target rm install_1.sh; \
in-target rm install_2.sh;
